body {
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  max-width: 1280px;
  margin: auto;
  padding: 0 3em;
}

@media (max-width: 768px) {
  header,
  main,
  footer {
    padding: 0 1.5em;
  }
}

h1 {
  margin-bottom: 1em;
  font-size: 3em;
}

h3 {
  margin-bottom: 1em;
}

ul > li {
  margin-top: 0.5em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 1em 0;
  padding-top: 1em;
  margin-bottom: 3em;
}

@media (max-width: 768px) {
  header > nav {
    display: none;
  }
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}

header > div > h3,
header > nav > ul > li {
  margin-bottom: 0;
  cursor: pointer;
}

main > article {
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5em;
  margin: 0 auto;
}

footer > article {
  max-width: 180px;
}

footer > article > ul > li {
  cursor: pointer;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3em;
    margin-top: 5em;
  }
}

.banner-with-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3em;
}

.banner-with-image > div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

@media (max-width: 768px) {
  .banner-with-image {
    display: block;
  }

  .banner-with-image > div {
    flex-basis: 100%;
  }

  .banner-with-image > div > .call-to-action-button {
    margin-top: 3em;
    margin: 3em auto 0 auto;
  }

  .banner-with-image-content > h1,
  p {
    text-align: center;
  }
}

.banner-with-image > div > img {
  width: 100%;
}

.call-to-action-button {
  display: block;
  width: fit-content;
  padding: 1em 1.5em;
  font-size: medium;
  border-radius: 0.5em;
  background-color: #8eadd5;
  color: white;
  font-weight: 700;
}

.banner-with-image > div > .call-to-action-button {
  margin-top: 3em;
}

.image-as-banner {
  width: fit-content;
  margin: 3em auto;
}

@media (max-width: 768px) {
  #be-a-part-of-the-next-big-thing-banner > div > img {
    display: none;
  }
}
